body {
	background-color: royalblue;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 450px;
	
}

div {
	border:2px solid white;
	border-radius: 3px;
	align-items: flex-start;
	justify-content: space-between;
};